div .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }

div .sub-title {
  display: flex;
  align-items: center; }
  div .sub-title > :nth-child(2) {
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    padding: 0 1em; }

.line {
  width: 100%;
  border-bottom: 1px solid #ccc; }

div::-webkit-scrollbar {
  height: 8px; }

div::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px; }

div::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px; }

.buttons {
  display: flex;
  justify-content: center; }
  .buttons:last-child {
    margin: 0; }
  .buttons > .btn {
    font-weight: bold; }

.select {
  display: flex;
  justify-content: space-between; }
  .select > .buttons {
    flex-direction: column;
    margin: 1em 0; }
    .select > .buttons > .btn {
      margin: 0.5em; }

.btn {
  color: #ffffff;
  background-color: #0099ff;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer; }
  .btn:hover {
    background-color: #0072be; }
  .btn.submit {
    width: 100%;
    height: 3em;
    margin: 0;
    font-weight: bold; }
  .btn:disabled {
    cursor: not-allowed;
    background-color: #86b5d4; }

.content {
  margin: 0 0 1em 0;
  padding: 1em;
  border-radius: 10px;
  background-color: #eee; }

.input-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em; }
  .input-menu input {
    margin: 0 0 10px 0; }

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.radio-methods {
  margin: 1em 0; }
  .radio-methods li {
    display: flex;
    align-items: center; }

div .options-menu {
  color: black; }

.matrix input {
  width: 5em;
  margin: 0 0.5em 0.5em 0; }

.matrix th:last-child input {
  content: "";
  position: absolute;
  display: none;
  background-color: black;
  color: azure;
  font-weight: bold;
  width: 4em;
  margin: 0; }

.matrix tr th:nth-child(1) {
  font-weight: bold;
  padding: 0.5em 1em; }

.matrix-label {
  padding: 0 0.5em 0 0;
  text-align: center; }

#text {
  padding: 1.5em;
  font-weight: bold;
  font-size: 16px;
  font-style: italic; }

.result-content {
  display: inline-flex;
  justify-content: left;
  width: 100%;
  overflow: auto; }
  .result-content .result-span {
    color: #ccc;
    margin: 5px;
    padding: 5px;
    background-color: #000;
    border-radius: 5px;
    white-space: nowrap; }
    .result-content .result-span .result-label {
      font-weight: bold;
      margin-right: 0.5em; }
